@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin grid-responsive($min, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
  gap: $gap;
}