// Colores principales
$color-fondo: #FFF3E0;
$color-principal: #4E342E;
$color-secundario: #6F4E37;
$color-seccion: #D7CCC8;
$color-borde: #b8967f;
$color-link: #333;
$color-link-hover: #9005ec;
$color-navbar-bg: #e096359a;
$font-principal: Arial, sans-serif;