// Colores principales
$color-fondo: #fff3e0;
$color-principal: #4e342e;
$color-secundario: #6f4e37;
$color-seccion: #d7ccc8;
$color-borde: #b8967f;
$color-link: #333;
$color-link-hover: #9005ec;
$color-navbar-bg: #e096359a;
$font-principal: Arial, sans-serif;
