main.galeria {
  background-color: #d7ccc8;
  padding: 20px;

  h2 {
    text-align: center;
    color: #4e342e;
    margin-bottom: 20px;
  }

  .carousel {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: #fff3e0;
  }

  .carousel-item img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
  }

  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 8px;

    h5,
    p {
      color: #fff3e0;
    }
  }
}
