main.inicio {
  padding: 20px;
  background-color: #fff3e0;
  text-align: center;

  h2 {
    color: #4e342e;
    margin-bottom: 15px;
  }

  p {
    max-width: 800px;
    margin: 0 auto 20px;
    line-height: 1.6;
  }

  img {
    width: 100%;
    height: 800px;
    border-radius: 8px;
    margin-top: 20px;
    object-fit: cover;
  }
}
