html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-principal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $color-fondo;
  color: $color-principal;
}

main {
  flex-grow: 1;
}

main img {
  display: block;
  margin: 20px auto;
  width: 50%;
  max-width: 100%;
  object-fit: cover;
}