@media (max-width: 880px) {
  nav ul {
    flex-direction: column;
    gap: 12px;
    align-items: center;
  }

  .fila-menu {
    flex-direction: column;
    gap: 15px;
  }

  .item-menu img {
    max-width: 90%;
  }

  .item-menu a {
    font-size: 16px;
  }

  main img {
    width: 85%;
  }

  header h1 {
    font-size: 26px;
  }

  .seccion {
    margin: 15px;
    padding: 20px;
  }

  footer {
    font-size: 15px;
  }
}